.entriesList a {
  color: rgb(255, 255, 255);
}

.entriesList li {
  padding: 4px;
  width: max-content;
}

.entriesList ul {
  margin: 0;
  overflow: hidden;
}

.sidebar {
  display: flex;
  gap: 20px;
}
.entryDisplay {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-right: 30px;
  color: black;
  overflow: auto;
}
.content {
  display: flex;

  gap: 30px;
}
