body {
  color: hsl(0, 0%, 100%);
  background-color: black;
  font-family: var(--font-body);
}

@font-face {
  font-family: "baloo";
  src: url("/fonts/baloo/baloo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  --font-display: baloo, var(--font-body);
}

button {
  font-family: var(--font-display);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  border: 1px;
}

.buttonContainer a {
  background-color: rgb(255, 189, 65);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
